$primary-color: red;
$secondary-color: yellow;

$light-grey: rgb(177, 177, 177);
$grey: grey;
$dark-grey: rgb(75, 73, 73);

$orange: #f1bf0e;
$red: #ed0707;
$blue: #07b6ed;
$green: #11a520;
$white: white;
$black: black;
$pink: #f72ef0;
$dark-pink: #ce1ac8;
$purple: #8d0ef1;
$dark-purple: #6a0eb2;
$yellow: rgb(255, 238, 0);
$grey: grey;
